html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-size: $font-sm;
  font-weight: 300;
  color: $grayishBlue;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  min-height: 300vh;

  @include breakpoint-up(large) {
    font-size: $font-md;
  }

  &.noscroll {
    overflow: hidden;
  }
}
// Text
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.2;
  color: $darkBlue;
}
h1 {
  font-size: 3.7rem;
  margin-bottom: 2.4rem;

  @include breakpoint-up(large) {
    font-size: $font-xl;
  }
}
h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  @include breakpoint-up(large) {
    font-size: 3.6rem;
    margin-bottom: 3.6rem;
  }
}
p {
  line-height: 1.5;
  margin-bottom: 3.7rem;
}
a,
a:visited,
a:hover {
  // color: $grayishBlue;
  text-decoration: none;
}
// Spacing
.container {
  max-width: 113rem;
  margin: 0 auto;

  &--pa {
    padding: 7rem 2.4rem;

    @include breakpoint-up(large) {
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }
  &--py {
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include breakpoint-up(large) {
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }
  &--px {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  &--pt {
    padding-top: 6rem;

    @include breakpoint-up(large) {
      padding-top: 9.6rem;
    }
  }
  &--pr {
    padding-right: 2.4rem;
  }
  &--pb {
    padding-bottom: 7rem;

    @include breakpoint-up(large) {
      padding-bottom: 9.6rem;
    }
  }
  &--pl {
    padding-left: 2.4rem;
  }
}
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
// Buttons
button,
.button {
  padding: 1.4rem 3.5rem;
  cursor: pointer;
  border: 0;
  font-weight: 400;
  color: $white;
  font-size: $font-sm;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

// Visibility
.hide-for-mobile {
  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  // hide for desktop and wide screen
  @include breakpoint-up(large) {
    display: none;
  }
}
